Source: filemetadata
Section: unknown
Maintainer: yaofei <zyf26256@gmail.com>
Priority: optional
Build-Depends: debhelper (>= 9), libtorrent-rasterbar-dev

Package: filemetadata
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: file and metadata manage
 filemetadata is a tool to manage local files.
